body {
  background-color: #f0ebcc;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77acf1;
}

.icon {
  font-size: 2rem;
}

.btn {
  padding: 0% 40%;
}

.box:hover {
  background-color: #3edbf0;
  transform: rotate(2deg);
}
